<footer>
	<nav class="round">
	<ul>
		<li><%= link_to "About", '#' %></li>
		<li><%= link_to "Contact", '#' %></li>
		<li><%= link_to "News", 'http://www.google.com' %></li>
		<li><%= link_to "Facebook", 'http://www.facebook.com' %></li>
	</ul>
</footer>
